html,
body {
  font-family: 'Work Sans', sans-serif;
}

#section-1 {
  background: linear-gradient(
    180deg,
    #fff2f2 0%,
    rgba(255, 244, 244, 0.28) 100%
  );
}

.bintang {
  color: #ea5757;
}
