html,
body {
  font-family: 'Work Sans', sans-serif;
}

.section-bg {
  background: linear-gradient(
    180deg,
    #fff2f2 0%,
    rgba(255, 244, 244, 0.28) 100%
  );
  /* background-color: #fff5f5; */
}

.bintang {
  color: #ea5757;
}
